:root {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f3fafc;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .remove-input-styles {
    @apply border-none focus:border-none focus:shadow-none active:border-none active:shadow-none hover:border-none hover:shadow-none;
  }

  .center-item {
    @apply flex items-center justify-center;
  }

  .smooth-transit {
    @apply transition-all duration-500 ease-in-out;
  }
}

/* AND DESIGN OVERIDES */
.ant-tabs-nav,
.ant-tabs-nav-list {
  justify-content: space-evenly;
  width: 100%;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  display: none;
}

.ant-tabs-nav::before {
  display: none; /* Hide the line under the tab bar */
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid #1d5ecd;
}
.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 0;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
  padding: 0 !important;
  font-size: 16px;
  border-top: 1px #eee solid;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child:hover {
  color: #1d5ecd;
  font-weight: 500;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.dropdown {
  position: relative;
  transition: all ease-in-out;
  animation: slideInRight 1s ease-in-out forwards;
}

.details {
  position: relative;
  transition: all ease-in-out;
  animation: slideInLeft 0.8s ease-in-out forwards;
}

.side-nav {
  position: relative;
  transition: all ease-in-out;
  animation: slideInNav 1.3s ease-in-out forwards;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    filter: blur(8);
    transform: translateX(-100%);
  }
  60% {
    opacity: 0;
    filter: blur(8);
    transform: translateX(-100%);
  }
  80% {
    opacity: 0;
    filter: blur(8);
    transform: translate(-30%);
  }
  100% {
    opacity: 100;
    filter: blur(0px);
    transform: translateX(0%);
  }
}

@keyframes slideInNav {
  0% {
    transform: translateX(-100%);
  }

  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(100%);
  }

  100% {
    opacity: 100;
    filter: blur(0px);
    transform: translateY(0%);
  }
}
